/* Cor de fundo da página inteira */
body {
    background-color: hsl(241, 58%, 70%); /* Troque pela cor que desejar */
}

/* Tamanho e cor do título */
h1 {
    font-size: 70px; /* Aumenta o tamanho da fonte */
    color: #0c0202;  /* Cor do texto */
}